.standart-development {
    font-family: 'Montserrat', sans-serif;
    height: 797px;
    background: #F6F6F8;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.standart-development__info {
    margin: 100px 0 90px 0;
    display: flex;
    justify-content: center;
}

.standart-development__info__text {
    margin-left: 405px;
}

.standart-development__info__text h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
}

.standart-development__info__text p {;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.standart-development__info__text a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.standart-development__info__img {
    margin-right: 405px;
}

hr.standart-development-element-hr {
    width: 1110px;
    border: 1px solid #E0E0E0;
}

.standart-development__our-project{
    display: flex;
    justify-content: center;
}

.standart-development__our-project__item{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    align-items: center;
}

.standart-development__our-project__item__info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    height: 40px;
}

.standart-development__our-project__item__info h3 {
    margin-left: 20px;
    padding-bottom: 10px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #000000;
}

.standart-development__our-project__item p{
    margin-top: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}